[Unit]
Description = Home measurement message processor service TEST
After = syslog.target

[Service]
WorkingDirectory=/home/iot/bin/messageprocessor_test
Type = simple
User = iot
ExecStart = /usr/bin/java -jar -Dspring.profiles.active=test messageprocessor.jar
Restart=on-failure
RestartSec=10

[Install]
WantedBy = multi-user.target
